@charset "utf-8";

// Breakpoint
$break-lg: 1300px;
$break-md: 1024px;
$break-sm: 900px;

// Font
$font-path: '../font/';
$font-family-base: 'Akkurat', 'Noto Sans KR', sans-serif;
$font-family-title: 'Constantia', 'Noto Sans KR', sans-serif;